<p class="profile-section-text anim-slide-in-up">Statystyki Quizów:</p>
<div class="profile-stats-container">
    <div class="profile-stats-entry otl-glass anim-slide-in-up">
        <p>Zakończonych Quizów:</p>
        <p class="profile-stats-stat">{{ userQuizCache.finishedAmount }}</p>
    </div>
    <div class="profile-stats-entry otl-glass anim-slide-in-up">
        <p>Średnia punktów:</p>
        <p class="profile-stats-stat">{{ userQuizCache.averageScore }}</p>
    </div>
    <div class="profile-stats-entry otl-glass anim-slide-in-up">
        <p>Poprawne odpowiedzi:</p>
        <p class="profile-stats-stat">{{ userQuizCache.answerRightAmount }}</p>
    </div>
    <div class="profile-stats-entry otl-glass anim-slide-in-up">
        <p>Niepoprawne odpowiedzi:</p>
        <p class="profile-stats-stat">{{ userQuizCache.answerWrongAmount }}</p>
    </div>
</div>
<p class="profile-section-text anim-slide-in-up">Ostatnie Quizy:</p>
<div class="profile-quiz-history otl-glass anim-slide-in-up">
    {% for quiz in userLastQuizes %}
        <div class="profile-quiz-history-entry">
            <p class="profile-quiz-history-date">{{ quiz.started|date("d.m.Y H:i") }}</p>
            <p class="profile-quiz-history-points" data-quiz="{{ quiz.token }}">Info
                <i class="fas fa-info-circle"></i>
            </p>
        </div>
    {% endfor %}
    {% if userLastQuizes|length == 0 %}
        <div class="profile-quiz-trouble-message">
            Wygląda na to, że pierwszy Quiz dopiero przed Tobą!
        </div>
    {% endif %}
</div>
{% if isLoggedUser %}
    <p class="profile-section-text anim-slide-in-up">Dodaj swoje pytanie:</p>
    <div class="profile-quiz-add otl-glass anim-slide-in-up">
        {% if app.user.isAllowedToAddQuizQuestions == false %}
            <p class="profile-quiz-trouble-message">Wygląda na to, że nie masz możliwości dodawania pytań. Jeżeli
                uważasz,
                że to błąd, możesz skontaktować się z administratorem.</p>
        {% else %}
            {{ include("profile/section/quiz/_add.html.twig") }}
        {% endif %}
    </div>
{% endif %}