<div class="homepage-scoreboard homepage-scoreboard-{{ scoreboard.id }} hidden anim-slide-in-down otl-glass"
     data-scoreboard="{{ scoreboard.id }}">
    <p class="homepage-scoreboard-title">Tablica wyników
        {{ scoreboard.id }}</p>
    <div class="homepage-scoreboard-row">
        <div class="homepage-scoreboard-person">
            <img alt="Bazowe zdjęcie profilowe" src="{{ asset("img/profilePicture/0.jpg") }}"/>
            <p>-</p>
        </div>
        <span class="homepage-scoreboard-score">-</span>
    </div>
    <div class="homepage-scoreboard-row">
        <div class="homepage-scoreboard-person">
            <img alt="Bazowe zdjęcie profilowe" src="{{ asset("img/profilePicture/0.jpg") }}"/>
            <p>-</p>
        </div>
        <span class="homepage-scoreboard-score">-</span>
    </div>
    <div class="homepage-scoreboard-row">
        <div class="homepage-scoreboard-person">
            <img alt="Bazowe zdjęcie profilowe" src="{{ asset("img/profilePicture/0.jpg") }}"/>
            <p>-</p>
        </div>
        <span class="homepage-scoreboard-score">-</span>
    </div>
    <div class="homepage-scoreboard-row">
        <div class="homepage-scoreboard-person">
            <img alt="Bazowe zdjęcie profilowe" src="{{ asset("img/profilePicture/0.jpg") }}"/>
            <p>-</p>
        </div>
        <span class="homepage-scoreboard-score">-</span>
    </div>
    <div class="homepage-scoreboard-row">
        <div class="homepage-scoreboard-person">
            <img alt="Bazowe zdjęcie profilowe" src="{{ asset("img/profilePicture/0.jpg") }}"/>
            <p>-</p>
        </div>
        <span class="homepage-scoreboard-score">-</span>
    </div>
</div>
