<div class="homepage-scoreboard homepage-scoreboard-{{ scoreboard.id }} hidden anim-slide-in-down" data-scoreboard="{{ scoreboard.id }}">
	<p class="homepage-scoreboard-title">Najwięcej punktów ({{ scoreboard.hours }}h)</p>
	<div class="homepage-scoreboard-row">
		<div class="homepage-scoreboard-person">
			<img src="{{ asset("img/temp/1.jpg") }}"/><p>Naganiacz 2000</p>
		</div>
		<span class="homepage-scoreboard-score">2137</span>
	</div>
	<div class="homepage-scoreboard-row">
		<div class="homepage-scoreboard-person">
			<img src="{{ asset("img/temp/2.jpg") }}"/><p>TheKiller</p>
		</div>
		<span class="homepage-scoreboard-score">1337</span>
	</div>
	<div class="homepage-scoreboard-row">
		<div class="homepage-scoreboard-person">
			<img src="{{ asset("img/temp/3.jpg") }}"/><p>Derp</p>
		</div>
		<span class="homepage-scoreboard-score">666</span>
	</div>
	<div class="homepage-scoreboard-row">
		<div class="homepage-scoreboard-person">
			<img src="{{ asset("img/temp/4.jpg") }}"/><p>Mam czikułaczento</p>
		</div>
		<span class="homepage-scoreboard-score">69</span>
	</div>
	<div class="homepage-scoreboard-row">
		<div class="homepage-scoreboard-person">
			<img src="{{ asset("img/temp/5.jpg") }}"/><p>Kabura odpowiedź pls21</p>
		</div>
		<span class="homepage-scoreboard-score">1</span>
	</div>
</div>
