{% extends 'layout.html.twig' %}

{% block content %}
	<section class="quiz-wrapper">
		<div class="quiz-container">
			<div class="quiz-intro-container anim-slide-in-up">
				<h1 class="quiz-h1">Stajesz przed Quizem z wiedzy o<br/><span>League of Legends</span>
				</h1>
				<p class="quiz-explanation">Przed Tobą 10 pytań. Na każde z nich otrzymasz 15 sekund na odpowiedź. Wiesz jak działają quizy, więc nie będziemy się niepotrzebnie rozdrabniać.</p>
				<p class="quiz-explanation">Nie zapomnij się zalogować, aby śledzić swoje postępy w różnych grach. Po grze możesz także podzielić się swoim wynikiem ze znajomymi i wyzwać ich na pojedynek.</p>
				{% if quizSaved is defined %}
					<button class="quiz-start-button otl-box-shadow" data-quiz-saved-token="{{ quizSaved.token }}">Rozpocznij quiz</button>
				{% else %}
					<button class="quiz-start-button otl-box-shadow">Rozpocznij quiz</button>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	<script>
		const quizStartPath = "{{ path('quiz_start') }}";
const quizAnswerPath = "{{ path('quiz_answer') }}";{% if quizSavedNotFound is defined %}popup.openPopup('error', 'Błędny token', "{{ quizSavedNotFoundMessage }}");{% endif %}
	</script>
	<script src="{{ asset('js/quiz/quiz.js') }}"></script>
{% endblock %}
