{% extends 'layout.html.twig' %}

{% block title %}Rozpocznij Quiz
{% endblock %}

{% block content %}
    <section class="quiz-wrapper">
        <div class="quiz-container">
            <div class="quiz-intro-container anim-slide-in-up">
                <h1 class="quiz-h1">Stajesz przed Quizem z wiedzy&nbsp;o<br/><span>League of Legends</span>
                </h1>
                <p class="quiz-explanation">Przed Tobą 10 pytań. Na każde z nich otrzymasz 15 sekund na odpowiedź. Wiesz
                    jak działają quizy, więc nie będziemy się niepotrzebnie rozdrabniać.</p>
                <p class="quiz-explanation">Nie zapomnij się zalogować, aby śledzić swoje postępy w różnych grach. Po
                    grze możesz także podzielić się swoim wynikiem ze znajomymi i wyzwać ich na pojedynek.</p>
                {% if quizSaved is defined %}
                    <button class="quiz-start-button otl-box-shadow" data-quiz-saved-token="{{ quizSaved.token }}">
                        Rozpocznij Quiz
                    </button>
                {% else %}
                    <button class="quiz-start-button otl-box-shadow">Rozpocznij Quiz</button>
                {% endif %}
                <div>
                    {% if quizSaved is defined and quizSaved.owner is not null and quizSaved.owner.isPublic == true %}
                        <p>Ten Quiz został utworzony przez:</p>
                        <a href="{{ path('profile_details', {userUrl: quizSaved.owner.profileUrl}) }}"
                           class="quiz-saved-owner-container" target="_blank">
                            <img alt="Zdjęcie profilowe użytkownika" class="quiz-saved-owner-image"
                                 src="{{ asset("img/profilePicture/" ~ quizSaved.owner.profilePicture.image ) }}"/>
                            <p class="quiz-saved-owner-name">{{ quizSaved.owner.username }}</p>
                        </a>
                    {% elseif quizSaved is defined and (quizSaved.owner is not null and quizSaved.owner.isPublic == false) or quizSaved.owner is null %}
                        <p>Ten Quiz został utworzony przez:</p>
                        <div class="quiz-saved-owner-container">
                            <img alt="Zdjęcie profilowe użytkownika" class="quiz-saved-owner-image"
                                 src="{{ asset("img/profilePicture/1.jpg") }}"/>
                            <p class="quiz-saved-owner-name">Anonimowy</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        const quizStartPath = "{{ path('quiz_start') }}";
        const quizAnswerPath = "{{ path('quiz_answer') }}";
        {% if quizSavedNotFound is defined %}popup.openPopup('error', 'Błędny token', "{{ quizSavedNotFoundMessage }}");{% endif %}
    </script>
    <script src="{{ asset('js/quiz/quiz.js') }}"></script>
{% endblock %}
