{% extends 'base.html.twig' %}

{% block body %}
	<div class="popup-wrapper">
		<div class="popup-container"></div>
	</div>
	<header class="layout-header">
		<nav class="layout-header-main-navigation">
			<a class="layout-header-logo" href="{{ path('homepage') }}">OneTrickLeague</a>
			<div class="layout-header-site-navigation">
				<a class="layout-header-link" href="{{ path('quiz_enter') }}">
					<i class="fas fa-question"></i>Quiz</a>
				<a class="layout-header-link" href="{{ path('quiz_enter') }}">
					<i class="fas fa-align-center"></i>Krzyżówka</a>
				{% if app.user %}
					<a class="layout-header-link layout-header-login" href="{{ path('profile_main') }}">
						<img class="layout-header-login-image" src="{{ asset("img/profilePicture/" ~ app.user.profilePicture.image) }}"/>Moje konto
					</a>
				{% else %}
					<a class="layout-header-link layout-header-login" href="{{ path('login') }}">
						<i class="fas fa-user"></i>Zaloguj się
					</a>
				{% endif %}
			</div>
		</nav>
	</header>
	<main class="layout-main" style="background-image:url('{{ asset('img/homepage/background-1.jpg') }}');">
		{% block content %}{% endblock %}
	</main>
	<footer class="layout-footer">
		<div>
			<a class="layout-footer-link" href="#">
				<i class="fas fa-file-alt"></i>Regulamin</a>
		</div>
		<div>
			<a class="layout-footer-link" href="#">
				<i class="fas fa-user-shield"></i>Polityka prywatności</a>
		</div>
		<div></div>
		<div>
			<p class="layout-footer-note">OneTrickLeague is a fan project created by:</p>
			<a class="layout-footer-author" href="https://github.com/Burda-Kacper" target="_blank">
				<i class="fab fa-github"></i>/Burda-Kacper</a>
		</div>
	</footer>
{% endblock %}
